/* Orden de los estilos:
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visaules
5. Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: hsl(33, 93%, 54%);
    --soft-orange:hsl(29, 100%, 92%);
    --secondary-blue: hsl(205, 93%, 54%);
    --soft-blue: hsl(205, 100%, 95%);
    --warm-black: hsl(30, 7%, 12%);
    --black: hsl(36, 7%, 15%);
    --off-white: hsl(20, 23%, 97%);
    --just-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    --width-header:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 320px;
    width: var(--width-header);
    height: 334px;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header__title-container {
    position: relative;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    left: calc(var(--width-header) * .50 - 115px);
    /* otra forma de centrar */
    /* left: 0; */
    /* right: 0; */
    /* margin: 0 auto; */
    bottom: -10%;
    /* usando translate para centrar */
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    min-height: 48px;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--warm-black);
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0 4px 8px  rgba(89, 73, 30, 0.16);
}

 .header__button  span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/arrow-black.svg');
}

/* Styles to main content */

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

/* Styles to exchange section */

.exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.exchange__image-wrapper {
    /* width: 70%; */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('./assets/images/bitcoin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* shorthand => background: url(...) center/cover no-repreat */
}

.exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.exchange__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
}

.exchange__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: hsl(0, 0%, 73%);
}

