/* Orden de los estilos:
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visaules
5. Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: hsl(33, 93%, 54%);
    --soft-orange:hsl(29, 100%, 92%);
    --secondary-blue: hsl(205, 93%, 54%);
    --soft-blue: hsl(205, 100%, 95%);
    --warm-black: hsl(36, 8%, 12%);
    --black: hsl(36, 6%, 15%);
    --grey: hsl(0, 0%, 73%);
    --off-white: hsl(20, 23%, 97%);
    --just-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

header {
    --width-header:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 320px;
    width: var(--width-header);
    height: 334px;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header__title-container {
    position: relative;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    left: calc(var(--width-header) * .50 - 115px);
    /* otra forma de centrar */
    /* left: 0; */
    /* right: 0; */
    /* margin: 0 auto; */
    bottom: -10%;
    /* usando translate para centrar */
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    min-height: 48px;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--warm-black);
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0 4px 8px  rgba(89, 73, 30, 0.16);
}

 .header__button  span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/arrow-black.svg');
}

/* Styles to main content */

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

/* Styles to exchange section */

.exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.exchange__image-wrapper {
    /* width: 70%; */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('./assets/images/bitcoin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* shorthand => background: url(...) center/cover no-repreat */
}

.exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.exchange__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
}

.exchange__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--grey);
}

/* Styles to table */
.tables {
    display: grid;
    grid-template-columns: 100% 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.exchange__table-container,
.commision__table-container {
    --height-table: 360px;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: var(--height-table);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 15px 0;
    margin: 0 auto;
    font-family: "Inter",sans-serif;
    scroll-snap-align: center;
}

.table__title {
    width: 90%;
    min-width: 225px;
    max-width: 300px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
}

.table__title h3 {
    font-size: 1.8rem; 
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.table__title--blue h3 {
    color: var(--secondary-blue);
}

.table__content {
    justify-self: center;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--just-white);
    border-radius: 8px;
}

.table__item {
    padding: 10px 12px;
    font-size: 1.6rem;
    line-height: 1.96rem;
    font-weight: 500;
    text-align: start;
    color: var(--grey);

}

.table__item:nth-child(odd) {
    border-bottom: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.table__item:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--grey);
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
}

.table__item:last-child, .table__item:nth-child(7) {
    border-bottom: 0;
}

.table__item span {
    display: block;
    width: 12px;
    height: 13px;
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
}

.table__item:nth-child(4) span {
    background-image: url('./assets/icons/trending-up.svg');
}

.table__data {
    width: max-content;
    min-width: 230px;
    max-width: 285px;
    grid-column: 1/ -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__data p {
    width: 80%;
    min-width: 175px;
    font-size: 1.2rem;
    font-weight: 700;
    font-weight: 1.42;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.table__data--blue p {
    background-color: var(--soft-blue);
}

.table__control {
    display: block;
    width: 13px;
    height: 8px;
    position: absolute;
    right: -30px;
    top: calc(var(--height-table)/2 - 8px);
    background-image: url('./assets/icons/arrow-black.svg');
    transform: rotate(-90deg);
    cursor: pointer;
}

.table__control-prev {
    transform: rotate(90deg);
    right: 0;
    left: -30px;
}


/* Styles to the product details section */


.product__detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product__detail__logo {
    position: absolute;
    top: -12.5px;
    left: calc(50% - 20px); /* -20 porque su width es 40px */
    width: 40px;
    height: 25px;
    background-image: url('./assets/images/batata.svg');
}

.product__detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product__detail__title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product__detail__title p {
   margin-bottom: 20px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #808080;
}

/* styles to features cards */

.product-card__feature {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    height: auto;
    margin: 15px auto;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    background-color: var(--black);
}

.product-card__feature span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-card__title {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card__body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-card__feature .clock {
    background-image: url('./assets/icons/clock.svg');
}

.product-card__feature .eye {
    background-image: url('./assets/icons/eye.svg');
}

.product-card__feature .dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.product-card__feature .check {
    background-image: url('./assets/icons/check-circle.svg');
}

/* Styles to comodin section */

.bitcoin-img__container {
    width: 100%;
    min-width: 320px;
    height: 70vh;
    background-image: url('./assets/images/bitcoinbaby2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.bitcoin-img__container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* Styles to the plans section */

.plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 60px;
    text-align: center;
    background-color: var(--off-white);
}

.plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}

.plans__title p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* Slider */
.plans__container-slider {
    width: 100%;
    height: 332px;
    display: flex;
    padding: 8px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__container-slider::-webkit-scrollbar,
.tables::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

.plans__container-slider::-webkit-scrollbar-thumb,
.tables::-webkit-scrollbar-thumb {
    background-color: hsl(33, 89%, 72%);
    border-radius: 2px;
}

.plan__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    min-height: 247px;
    height: auto;
    margin: 50px 8px 0;
    padding: 0 15px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    position: relative;
    scroll-snap-align: center;
    transition: all ease-in-out 300ms;
}

.plan__card:hover {
    box-shadow: 8px 10px 10px rgb(89, 73, 30, 0.16);
}

.plan__card > p {
    width: 100px;
    height: 30px;
    padding: 8px 0;
    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    font-family: "Inter",sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    border-radius: inherit;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.plan__card-price {
    text-align: center;
}

.plan__card-price h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000;
}

.plan__price {
    font-family: "Inter",sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
    letter-spacing: -3px;
    color: var(--black);
}

.plan__price sup, 
.plan__msg {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.plan__price sup {
    vertical-align: 25px;
    margin-right: 3px;
}

.plan__msg {
    width: 90%;
    padding-top: 5px;
    margin: 0 auto;
    font-family: "Inter",sans-serif;
    color: #757575;
}

.plan__CTA {
    width: 150px;
    height: 48px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    background-color: var(--off-white);
    color: var(--warm-black);
    cursor: pointer;
    transition: all ease-in 300ms;
}

.plan__CTA:hover {
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

.plan__CTA:hover span {
    background-color: var(--off-white);
    border-radius: 6px;
    /* vertical-align: middle; */
}

.plan__CTA span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('./assets/icons/arrow-orange.svg');
    background-position: center;
    vertical-align: text-bottom;
    transition: all ease-in 300ms;
}

/* Styles to ooter*/

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__left ul {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    list-style: none;
}

.footer__left ul li {
    margin: 10px 0;
}

.footer__left ul li a {
    text-decoration: none;
    color: var(--just-white);
    cursor: pointer;
}

.footer__left ul li a:hover {
    text-decoration: underline;
}
